body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #fff;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
}

.logo img {
	height: 100px;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	color: #00407d;
	text-decoration: none;
}

nav ul li:last-child {
	margin-right: 0;
}

nav form {
	display: flex;
	align-items: center;
}

nav form input[type="text"] {
	padding: 5px;
	border: none;
	border-radius: 3px;
	margin-right: 10px;
}

nav form button[type="submit"] {
	background-color: #fff;
	border: none;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
}

button[type="submit"] svg {
    height: 20px;
}

section {
	background-color: #fff;
	padding: 50px;
	text-align: center;
}

section h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

section p {
	font-size: 18px;
	margin-bottom: 30px;
}

.cta {
	background-color: #00407d;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
}

.cta:hover {
	background-color: #0055a5;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.talks {
	display: flex;
	flex-wrap: wrap;
}

.talk {
	flex-basis: 33.33%;
	padding: 20px;
	box-sizing: border-box;
}

.talk h3 {
	margin-top: 0;
}

.cta {
	display: inline-block;
	background-color: #00407d;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 10px;
	text-decoration: none;
}

.cta:hover {
	background-color: #1a5eab;
}

.hero {
	background-image: url('hero-background.jpg');
	background-size: cover;
	background-position: center;
	color: #1a5eab;
	padding: 50px;
	text-align: center;
}

.hero h1 {
	margin-top: 0;
}

.search-form {
	display: flex;
	align-items: center;
}

.search-form input[type="text"] {
	padding: 5px;
	border-radius: 5px;
	border: none;
}

.search-form button {
	background-color: #fff;
	border-radius: 5px;
	border: none;
	margin-left: -30px;
	padding: 5px 10px;
	cursor: pointer;
}

.search-form button:hover {
	background-color: #f2f2f2;
}

@media (max-width: 768px) {
	.talk {
		flex-basis: 100%;
	}
}
